.main {
  display: flex;
  max-width: 90%;
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* overflow-x: hidden; */
}
.main_left {
  padding-top: 5rem;
  max-width: 40%;
  color: #fff;
  flex-wrap: wrap;
}
.coders_title {
  font-size: 5.688rem;
}
.home {
  position: relative;
}
.text_bottom {
  max-width: 80%;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.right_text,
.left_text {
  max-width: 45%;
  text-align: justify;
}
.right_text,
.left_text {
  color: #fff;
}
.right_text p,
.left_text p {
  color: #eadddd;
}

.main_right {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 60%;
}
.main_right img {
  z-index: 2;
}
.circle_outer {
  border: 2px solid #323946;
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: spin 7s reverse infinite;
  -moz-animation: spin 7s reverse infinite;
  animation: spin 7s reverse infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

.circle_inner {
  width: 28rem;
  height: 28rem;
  border-radius: 50%;
  background: linear-gradient(
    262deg,
    rgba(216, 151, 194, 1) 0%,
    rgba(116, 184, 195, 1) 100%
  );
  position: absolute;
  /* -webkit-text-stroke:  linear-gradient(262deg, rgba(216, 151, 194, 1) 0%, rgba(116, 184, 195, 1) 100%);; */
}

.club_text {
  background: linear-gradient(
    151deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(254, 188, 137, 1) 50%,
    rgba(149, 140, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.circle_shadow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
.shadow_common {
  opacity: 61%;
  filter: blur(30px);
}
.spot_left {
  display: flex;
  width: 24rem;
  height: 24rem;
  border-radius: 50% 50% 50% 50%;
  background: rgb(246, 153, 140);
  left: -150px;
  position: absolute;
  opacity: 25%;
  filter: blur(100px);
  top: 28rem;
}

.spot_common {
  display: flex;
  width: 28rem;
  height: 30rem;
  border-radius: 50% 50% 50% 50%;
  position: absolute;
  filter: blur(100px);
  opacity: 27%;
}
.spot_right3 {
  background: #fb9014;
  left: -150px;
  bottom: 45rem;
}
.spot_right5 {
  background: #7b8fd9;
  /* left: -150px; */
  bottom: -100px;
  right: -0px;
}
.spot_right2 {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 30rem;
  border-radius: 50% 0% 50% 50%;
  background: #1084bf;
  position: absolute;
  right: 0px;
  z-index: -1;
  opacity: 25%;
  filter: blur(150px);
  top: 75rem;
  right: 0px;
}

/* .left_shadow {
  display: flex;
  width: 14rem;
  height: 14rem;
  border-radius: 50% 50% 50% 0%;
  background: #2c3a43;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.right_shadow {
  width: 12rem;
  height: 12rem;
  border-radius: 50% 0% 0% 0%;
  background: #2c3a43;
} */
.top_shadow {
  opacity: 50%;
  filter: blur(80px);
  position: absolute;
  width: 22rem;
  height: 22rem;
  border-radius: 50% 50% 50% 50%;
  background: #248e75af;
  top: -90px;
  right: 0px;
}

.icon_shadow {
  z-index: 2;
  position: absolute;
  top: 0rem;
  right: 45%;
}
.icon_shadow1 {
  z-index: 2;
  position: absolute;
  top: 15rem;
  right: 42%;
}

.rotation {
  /* position: absolute; */
}

.rocket {
  position: absolute;
  top: 23.5rem;
  left: 24rem;
}
.rocket1 {
  position: absolute;
  rotate: 180deg;
  top: 2.5rem;
  left: 0rem;
}
/* .plane {
  position: absolute;
  top: 20.5rem;
} */

.boy_img {
  width: 600px;
  height: 600px;
}
.icon_box {
  width: 150px;
  height: 150px;
  animation: anime 2s infinite ease-in alternate-reverse;
  -webkit-animation: anime 2s infinite ease-in alternate-reverse;
}
@keyframes anime {
  100% {
    transform: translateY(15px);
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    /* box-shadow: 0 40px 10px -18px rgba(179, 114, 114),0 40px 16px -12px rgba(rgb(7, 5, 5), green, blue, alpha); */
  }
}

/* responsive code  */

@media (max-width: 974px) {
  .main {
    flex-direction: column-reverse;
    margin: 0 auto;
    max-width: 100%;
  }
  .home {
    padding: 0;
  }
  .main_right {
    width: 100%;
    padding: 0;
  }
  .coders_title {
    font-size: 2rem;
  }
  .main_left {
    padding-top: 2rem;
    margin: 0 auto;
    max-width: 90%;
  }
  .coders_text {
    display: flex;
    justify-content: center;
    margin: 0;
    /* margin: 0 auto; */
  }
  .club_text {
    display: flex;
    justify-content: center;
    margin-top: -2rem;
  }
  .coders_title div {
    align-items: center;
  }

  .text_bottom {
    max-width: 100%;
  }
}

/* 575 */
/*  */
